
.profileContainer {
    justify-content: center;
    overflow: scroll;
    background-image: linear-gradient( #fbfffd, #b9c0ba) ;
    width: 100%;
    height: 85vh;
}

.Profile{
    margin-top:75px;
}

.SaveButt {
    margin-right:15px!important ;
    
}

.Update{
    margin-top:20px;
}

.input {
    margin-bottom: 15px;
}

